In [1]:
import pandas as pd
import numpy as np

In [46]:
inp_file=r"C:\Users\SHARIE R NATH\Documents\blood donation\transfusion\transfusion.data"
data=pd.read_csv(inp_file)

In [47]:
data.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [48]:
data.shape

(748, 5)

In [49]:
data.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [50]:
data.isnull().sum()

Recency (months)                              0
Frequency (times)                             0
Monetary (c.c. blood)                         0
Time (months)                                 0
whether he/she donated blood in March 2007    0
dtype: int64

In [51]:
data.var()

Recency (months)                              6.553543e+01
Frequency (times)                             3.409751e+01
Monetary (c.c. blood)                         2.131094e+06
Time (months)                                 5.942242e+02
whether he/she donated blood in March 2007    1.815819e-01
dtype: float64

#### Variance is very high for Monetary. Hence doing log normalization

In [52]:
data['log_Monetary']=np.log(data['Monetary (c.c. blood)'])

In [53]:
data.var()

Recency (months)                              6.553543e+01
Frequency (times)                             3.409751e+01
Monetary (c.c. blood)                         2.131094e+06
Time (months)                                 5.942242e+02
whether he/she donated blood in March 2007    1.815819e-01
log_Monetary                                  8.363484e-01
dtype: float64

In [55]:
Monetary=data.pop('Monetary (c.c. blood)')

In [56]:
y=data.pop('whether he/she donated blood in March 2007')
X=data

In [57]:
y.head()

0    1
1    1
2    1
3    1
4    0
Name: whether he/she donated blood in March 2007, dtype: int64

In [58]:
X.head()

   Recency (months)  Frequency (times)  Time (months)  log_Monetary
0                 2                 50             98      9.433484
1                 0                 13             28      8.086410
2                 1                 16             35      8.294050
3                 2                 20             45      8.517193
4                 1                 24             77      8.699515

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,stratify=y)

In [60]:
X_train.shape

(523, 4)

In [61]:
X_test.shape

(225, 4)

In [62]:
y_train.shape

(523,)

In [63]:
y_test.shape

(225,)

In [64]:
from tpot import TPOTClassifier

In [74]:
pipeline_optimizer = TPOTClassifier(generations=5, population_size=25, cv=5,
                                    random_state=42, verbosity=2)
pipeline_optimizer.fit(X_train, y_train)

Version 0.10.2 of tpot is outdated. Version 0.11.7 was released Wednesday January 06, 2021.

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=150, style=ProgressStyle(descriptâ€¦

TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: LogisticRegression(input_matrix, C=25.0, dual=False, penalty=l1)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=5,
        max_eval_time_mins=5, max_time_mins=None, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=25,
        random_state=42, scoring=None, subsample=1.0, template=None,
        use_dask=False, verbosity=2, warm_start=False)

In [73]:
print(pipeline_optimizer.score(X_test, y_test))
pipeline_optimizer.export('tpot_exported_pipeline.py')

0.7911111111111111